footer {
	background: $secondary;
	box-shadow: -1px -1px 10px black;
	padding: 15px;
	@include flexbox($placeItems: center, $placeContent: space-between, $direction: column);
}

.social-footer, .copyright {
	width: 100%;
}

.social-footer nav.social-nav{
	width: 100%;
}

.social-footer nav.social-nav ul{
	justify-content: center;
}

.social-footer nav.social-nav ul li a{
	border: solid 2px $black;
}

.social-footer nav.social-nav ul li a:hover, .social-footer nav.social-nav ul li a:active{
	border: solid 2px $black;
}

.social-footer nav.social-nav ul li.patreon a{
	border: solid 2px transparent;
	height: 54px;
}

.social-footer nav.social-nav ul li.patreon a:hover{
	border: solid 2px $black;
}

footer p {
	text-align: center;
	padding: 10px;
	margin: 0;
}

p.website-by{
	@include flexbox($placeItems: center, $placeContent: center, $direction: row);
}

p.website-by a {
	text-decoration: none;
	color: black;
	padding: 0 5px;
}

p.website-by a img{
	width: 40px;
	border: 2px solid $black;
}

p.website-by a img:hover,
p.website-by a img:active {
	box-shadow: 1px 1px 5px $black;
	border: 2px solid $secondary;
}

