footer {
	background: $secondary;
	box-shadow: -1px -1px 10px black;
	padding: 15px;
	@include flexbox($placeItems: center, $placeContent: space-between, $direction: column);
}

.social-nav-footer {
	width: 350px;
}

.social-nav-footer ul {
	@include flexbox($placeItems: center, $placeContent: center, $direction: row, $wrap: nowrap);
}

.social-nav-footer ul li {
	@include flexbox($placeContent: center);
}

.social-nav-footer ul li a.instagram img,
.social-nav-footer ul li a.twitter img,
.social-nav-footer ul li a.redbubble img {
	width: 2.5rem;
	height: 2.5rem;
	line-height: 0;
}


.social-nav-footer ul li.instagram,
.social-nav-footer ul li.twitter,
.social-nav-footer ul li.redbubble {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	// padding: 5px;
	// width: 13%;
	width: 2.8rem;
	height: 2.8rem;
	margin: 5px;
	border: solid 1px transparent;
}

.social-nav-footer ul li.instagram:hover,
.social-nav-footer ul li.twitter:hover,
.social-nav-footer ul li.redbubble:hover {
	background: $secondary;
	border: solid 1px black;
	box-shadow: 0px 0px 15px black;
}

.social-nav-footer ul li.patreon {
	margin: 5px;
}

.social-nav-footer li a.patreon {
	border: solid 2px transparent;
	height: 37px;
}

.social-nav-footer li a.patreon img {
	height: 33px;
}

.social-nav-footer li a.patreon:hover {
	box-shadow: 3px 3px 6px black;
	border: solid 2px #000;
}

footer p {
	text-align: center;
	font-family: $headingFont;
	font-size: 2.5rem;
	padding: 10px;
	margin: 0;
}

.website-by p {
	text-transform: uppercase;
	font-size: 2rem;
}

.website-by a {
	text-decoration: none;
	color: black;
}

.website-by a:hover,
.website-by a:active {
	text-shadow: 1px 1px 1px white;
}
