.announcement-banner, .responsive-announcement-banner{
	color: #FFF;
	background: $secondary;
	padding: 10px 15px;
	margin: 0;
	overflow: hidden;
  	position:relative;
	height:60px;
  	width:100%;
}

.announcement-banner{
	display: none;
}

// .responsive-announcement-banner{
// 	margin: 1em;
// }

.announcement-banner .announcement, 
.responsive-announcement-banner .announcement{
	cursor:pointer;
	overflow:hidden;
	position:absolute;
	left:10px;
	margin-right:10px;
	top:10px;
	z-index: 30;
}

header {
	width: 100%;
	@include flexbox($placeItems: center, $placeContent: space-between, $direction: column);
}

/* * * * * * * * * * * * * * HEADER BLOCKS * * * * * * * * * * * * * * */

/* * * * DON'T FORGET IT'S MOBILE FIRST SIZING * * * */
nav.main-menu, nav.social-nav, nav.social-nav ul{
	width: 100%;
}

.logo-block{
		width: 80%;
	}

/* * * * RESPONSIVE NAV * * * */
nav.responsive-nav, input.responsive-nav-button{
	display: none;
}

header .responsive-cart{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	display: block;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

header .responsive-cart a{
	font-family: 'Chicle', cursive;
	color: #000;
	text-decoration: none;
	border-bottom: 5px solid transparent;
}

header .responsive-cart a img{
	height: 45px;
}

header .responsive-cart a:hover, header .responsive-cart a:active{
	border-bottom: 5px solid $secondary;
}

/* * * * THE SANDWICH NAVIGATION * * * */
label.responsive-nav-button, .responsive-nav-button{
	display: block;
}

.responsive-nav-button{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 2em;
	margin: 0;
	padding: 25px 25px;
	background: transparent;
	border: none;
}

.responsive-nav-button:hover, .responsive-nav-button:active,  nav.responsive-nav ul li:hover, nav.responsive-nav ul li:active, nav.responsive-nav ul li a:hover,  nav.responsive-nav ul li a:active{
	text-shadow: 2px 2px 5px $secondary;
	color: #000;
}

nav.responsive-nav{
	position: absolute;
	z-index: 20;
	top: 0;
	right: 15%;
	left: 15%;
	width: 70%;
	margin-top: 70px;
}

nav.responsive-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Chicle', cursive;
	font-size: 3rem;
	background: $secondary;
}

nav.responsive-nav ul li{
	text-align: center;
	border: solid 2px transparent;
}

nav.responsive-nav ul li:hover, nav.responsive-nav ul li:active{
	background: linear-gradient(313deg, $primary 0%,$secondary 71%);
	box-shadow: 1px 1px 2px $black;
	border: solid 2px #fedf15;
	transition: background 500ms linear;
}

nav.responsive-nav ul li a{
	font-family: $headingFont;
	color: $black;
	text-decoration: none;
	display: block;
	padding: .5em;
	width: 100%;
}

nav.responsive-nav ul li a:hover, nav.responsive-nav ul li a:active{
	text-decoration: none;
	text-shadow: 2px 2px 5px $secondary;
}

/* * * * * * * * * * * * * * STYLING FOR DESKTOP NAV * * * * * * * * * * * * * * */
/* * * * MAIN MENU * * * */
nav.main-menu, nav.main-menu ul{
	width: 100%;
	@include flexbox($placeItems: center, $placeContent: center, $direction: row, $wrap: wrap);
}

nav.main-menu ul li{
	display: flex;
	justify-content: center;
	align-items: center;
}

nav.main-menu a{
	font-family: 'Chicle', cursive;
	color: #000;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid transparent;
}

nav.main-menu a:hover{
	text-shadow: 1px 1px 1px $accent;
	background: linear-gradient(313deg, $primary 0%, $secondary 71%);
	border: 2px solid $secondary;
}

/* * * * LOGO * * * */
.logo-block {
	@include flexbox($placeItems: center, $placeContent: center, $direction: row, $wrap: wrap);
}

h1.logo {
	width: 100%;
	@include flexbox($placeItems: center, $placeContent: center);
	background: transparent;
	font-size: 4rem;
}

a.logo-image{
	width: 50%;
	@include flexbox($placeItems: center, $placeContent: center);
}

header h1{
	margin: 0;
	border-bottom: 5px solid transparent;
}

header h1:hover, header h1:active{
	border-bottom: 5px solid $secondary;
}

/* * * * SOCIAL NAVIGATION * * * */
nav.social-nav {
	@include flexbox($placeItems: center, $placeContent: center, $direction: row, $wrap: wrap);
}

nav.social-nav ul {
	width: 100%;
	@include flexbox($placeItems: center, $placeContent: center, $direction: row, $wrap: wrap);
}

nav.social-nav ul li {
	width: 40px;
	height: 40px;
	margin: 5px;
	background: linear-gradient(313deg, $primary 0%, $secondary 71%);
	border-radius: 50%;
}

nav.social-nav ul li a{
	height: 40px;
	@include flexbox($placeItems: center, $placeContent: center, $direction: row, $wrap: wrap);
	border-radius: 50%;
	border: solid 2px transparent;
}

nav.social-nav ul li a img{
	height: 20px;
}

nav.social-nav ul li a:hover,
nav.social-nav ul li a:active{
	background: #fff;
	border: solid 2px $secondary;
	box-shadow: 1px 1px 2px $black;
	transition: background 500ms linear;
}

nav.social-nav ul li.patreon {
	display: block;
	width: auto;
	height: auto;
	border-radius: 0%;
	background: 0;
}

nav.social-nav ul li.patreon a{
	height: 60px;
	border: solid 5px transparent;
}

nav.social-nav ul li.patreon a img{
	height: 50px;
}

nav.social-nav li.patreon a:hover, nav.social-nav li.patreon a:active{
	border: 5px solid black;
	border-radius: 0%;
	box-shadow: 1px 1px 2px $black;
}

// This has to be down here because it will get cancelled out
nav.main-menu{
	display: none;
}


/* * * * * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * * * */
@media only screen and (min-width: 900px) {

	/* * * * ANNOUNCEMENT BANNER + RESPONSIVE NAVIGATION * * * */
	#responsive, nav.responsive-nav{
		display: none;
	}

	.announcement-banner{
		display: block;
	}
}