h2 {
	font-family: $headingFont;
	@include fontSize(4.5rem);
	line-height: 4.5rem;
	margin-top: 0;
}

main {
	width: 100%;
}

.book-promo {
	width: 100%;
	text-align: center;
	@include flexbox($placeItems: center, $placeContent: center, $direction: column-reverse);
}

.promo {
	width: 100%;
	padding: 15px 0;
	margin-bottom: 60px;
}

.promo p {
	margin-bottom: 60px;
}

.book-promo img {
	border-radius: 15px;
	border: solid 1px $secondary;
	box-shadow: 0px 0px 15px $primary;
}

.second {
	margin-top: 15px;
}

// * * * * WRITING

.writing {
	text-align: center;
	margin: 30px 0;
}

h3 {
	font-family: $headingFont;
	@include fontSize(3rem);
	line-height: 3rem;
	margin-bottom: 0;
}

.writing .links {
	@include flexbox($placeItems: center, $placeContent: center, $direction: row);
}

.writing .links a {
	width: 150px;
	padding: 15px;
}
