h1, h2{
	font-size: 3.5rem;
	line-height: 3.5rem;
	font-family: $headingFont;
	margin: 0;
	padding: 20px 0;
	text-shadow: 1px 1px 1px $secondary;
}

main {
	width: 100%;
}

// * * * * WRITING

.writing {
	text-align: center;
	margin: 30px 0;
}

h3 {
	font-family: $headingFont;
	@include fontSize(3rem);
	line-height: 3rem;
	margin-bottom: 0;
}

.writing .links {
	@include flexbox($placeItems: center, $placeContent: center, $direction: row);
}

.writing .links a {
	width: 150px;
	padding: 15px;
}

.writing p a{
	text-shadow: 1px 1px 1px $secondary;
	border-bottom: 2px solid transparent;
}

.writing p a:hover, 
.writing p a:active{
	border-bottom: 2px solid $secondary;
}
