/* * * * PORTFOLIO * * * */
section.portfolio{
	padding: .5em;
	@include flexbox($placeItems: center, $placeContent: center, $direction: column);
}

section.portfolio .portfolio-section{
	width: 100%;
	border-radius: 15px;
	border: solid 1px $secondary;
    box-shadow: 0px 0px 15px $secondary;
	margin: 10px 0;
	height: 180px;
	width: 300px;
}

section.portfolio .portfolio-section:hover, section.portfolio .portfolio-section:active{
	border: solid 1px $black;
	box-shadow: 0px 0px 15px $black;
}

section.portfolio .portfolio-section h2{
	text-align: center;
	width: 100%;
	height: 100%;
}

section.portfolio .portfolio-section.one{
	background: url(../assets/section-headers/Banner-Affirmation.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section.portfolio .portfolio-section.two{
	background: url(../assets/section-headers/Banner-GeneralArt.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section.portfolio .portfolio-section.three{
	background: url(../assets/section-headers/Banner-Writing.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section.portfolio .portfolio-section.four{
	background: url(../assets/section-headers/Banner-PatternPrint.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section.portfolio .portfolio-section.five{
	background: url(../assets/section-headers/Banner-Tattoo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section.portfolio .portfolio-section.six{
	background: url(../assets/section-headers/Banner-Tattoo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h2.section-title{
	text-align: center;
	width: 100%;
	font-size: 4.5rem;
}

/* * * * PHOTO GALLERIES * * * */
.gallery{
	padding: .5em;
	@include flexbox($placeItems: center, $placeContent: center, $direction: row, $wrap: wrap);
}

.gallery figure.image-frame{
	position: relative;
	width: 90%;
	padding: 0;
	margin: 15px;
	@include flexbox($placeItems: center, $placeContent: center, $wrap: wrap);
}

.gallery figure.image-frame img{
	box-shadow: 1px 1px 2px $black;
	border-radius: 5px;
}

.gallery figure.image-frame figcaption{
	position: absolute;
	background: rgba(0,0,0,0.6);
	border-radius: 5px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	text-align: center;
	padding-top: 20px;
	font-size: 1rem;
	opacity: 0;
	transition: 0.3s;
}

.gallery figure.image-frame figcaption p{
	text-shadow: 1px 1px 1px $black;
	font-size: 3rem;
}

.gallery figure.image-frame figcaption p, .gallery figure.image-frame figcaption a{
	padding: 10px;
	margin: 0;
	font-family: $headingFont;
}

.gallery figure.image-frame figcaption a{
	display: block;
	width: 80%;
	font-size: 2rem;
	background: $secondary;
	border-radius: 5px;
	border: 2px solid $secondary;
	margin: 0 auto;
	box-shadow: 1px 1px 2px $black;
	transition: border 200ms ease;
}

.gallery figure.image-frame figcaption a:hover, .gallery figure.image-frame figcaption a:active{
	color: #FFF;
	border: 2px solid $black;
	text-shadow: 1px 1px 1px $black;
	background: linear-gradient(313deg, $primary 0%, $secondary 71%);
}

.gallery figure.image-frame:hover figcaption, .gallery figure.image-frame:active figcaption{
	opacity: 1;
}

// * * * * WRITING
.writing {
    @include flexbox($placeItems: center, $placeContent: center, $direction: row, $wrap: wrap);
}

.image-right, .words-left{
    width: 100%;
    @include flexbox($placeItems: center, $placeContent: center, $direction: column, $wrap: wrap);
}

.writing .links {
	@include flexbox($placeItems: center, $placeContent: center, $direction: row);
}

.writing .links a {
    width: 120px;
    height: auto;
    margin: .5em;
}

.writing .links a:hover, .writing .links a:active{
    background: $secondary;
    border-radius: 5px;
}
