// * * * * MOBILE FIRST DESIGN - SO THESE ARE STYLES FOR TABLET AND DESKTOP
@media only screen and (min-width: 900px) {
	/* * * * BASE STYLES * * * */
	.wrapper{
		max-width: 1024px;
		margin: 0 auto;
	}

	/* * * * ANNOUNCEMENT BANNER + RESPONSIVE NAVIGATION * * * */
	.responsive-announcement-banner, nav.responsive-nav{
		display: none;
	}

	.announcement-banner{
		display: block;
	}

	/* * * * NAVIGATION STYLES * * * */
	header {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-around;
	}

	nav.social-nav, nav.main-menu{
		width: 40%;
	}

	.logo-block{
		width: 20%;
	}

	a.logo-image{
		width: 80%;
	}

	nav.social-nav ul{
		justify-content: flex-end;
	}

	nav.main-menu{
		display: block;
	}

	nav.social-nav ul li.patreon {
		display: inline-block;
	}

	input.responsive-nav-button, label.responsive-nav-button, .responsive-nav-button, nav.responsive-nav, header .responsive-cart{
		display: none;
	}

	h2 {
		@include fontSize(4rem);
		line-height: 4rem;
	}

	/* * * * MAIN * * * */
	section.intro{
		@include flexbox($direction: row, $placeItems: flex-start);
	}

	//LEFT
	.title-block{
		width: 60%;	
	}

	//RIGHT
	.main-image{
		width: 40%;
	}
}

// DID THIS BECAUSE I MESSED SOMETHING UP AND I GOTTA GO BACK AND FIGURE IT OUT
@media only screen and (min-width: 600px) and (max-width: 900px){
	//RIGHT
	.main-image{
		width: 60%;
	}
}

@media only screen and (min-width: 750px){
	/* * * * SECTIONS * * * */
	.display-item-1, .display-item-2 {
		@include flexbox($direction: row);
	}

	.display-item-2 {
		@include flexbox($direction: row-reverse);
	}

	.display-item-1 .words, .display-item-2 .words{
		width: 60%;
	}

	.display-item-1 .image, .display-item-2 .image{
		width: 40%;
	}

}


@media only screen and (min-width: 600px){
	body{
		background: linear-gradient(0deg, rgba(247,154,170,0.5) 0%,$primary 65%, rgba(254,223,21,0.5) 100%);
	}

	/* * * * MAIN * * * */
	main{
		width: 95%;
		margin: 0 auto;
	}

	// /* * * * INTRO * * * */
	.title-block,
	.main-image{
		padding: 15px;
	}

	// LEFT
	.image-block {
		width: 100%;
		flex-direction: row;
	}

	.image-block img {
		max-width: 150px;
	}

	//RIGHT
	// .main-image{
	// 	width: 60%;
	// }

	img.main-photo{
		width: 100%;
	}

	/* * * * SECTIONS * * * */
	.news-block{
		@include flexbox($placeItems: flex-start, $placeContent: space-between, $direction: row, $wrap: wrap);
	}

	.twitter, .blog-intro{
		width: 50%;
	}

	// .blog-intro .blog{
	// 	@include flexbox($placeItems: center, $placeContent: space-between, $direction: row, $wrap: wrap);
	// }

	// .blog-intro .blog .image{
	// 	width: 30%;
	// }

	// .blog-intro .blog .words{
	// 	width: 70%;
	// }

	/* * * * FOOTER * * * */
	footer {
		@include flexbox($direction: row);
	}

	.social-footer, .copyright {
		width: 50%;
	}

}
