// * * * * MOBILE FIRST DESIGN - SO THESE ARE STYLES FOR TABLET AND DESKTOP
@media only screen and (min-width: 900px) {

	// body{
	// 	// background-image: linear-gradient(to bottom, $secondary, $primary);
	// 	background: linear-gradient(to right, $primary 50%, $secondary 50%);
	// }

	header {
		flex-direction: row;
		justify-content: flex-start;
	}

	.logo-block {
		width: 30%;
	}

	.navigation {
		width: 70%;
	}

	nav.social-nav {
		width: 300px;
	}

	nav.social-nav ul {
		@include flexbox($wrap: nowrap);
		width: 300px;
	}

	nav.social-nav ul li.patreon {
		display: inline-block;
	}

	h2 {
		@include fontSize(4rem);
		line-height: 4rem;
	}
}

@media only screen and (min-width: 600px) {
	body{
		background: linear-gradient(0deg, rgba(247,154,170,0.5) 0%, #fedf15 65%, rgba(254,223,21,0.5) 100%);
	}

	.wrapper { 
		width: 1024px; 
	}

	nav.social-nav ul {
		width: 300px;
	}

	.hero,
	.book-promo {
		@include flexbox($direction: row);
	}

	.book-promo {
		margin: 15px 0;
	}

	.second {
		@include flexbox($direction: row-reverse);
	}

	.title-block h1 {
		padding: 0px;
	}

	.title-block,
	.hero-photo,
	.promo,
	img.book-photo {
		width: 50%;
		margin: 15px;
	}

	.image-block {
		flex-direction: row;
	}

	.image-block img {
		max-width: 150px;
	}

	footer {
		@include flexbox($direction: row);
	}
}
