// * * * * MOBILE FIRST DESIGN - SO THESE ARE STYLES FOR TABLET AND DESKTOP
@media only screen and (min-width: 900px) {
	/* * * * BASE STYLES * * * */
	.wrapper{
		max-width: 1024px;
		margin: 0 auto;
	}

	/* * * * ANNOUNCEMENT BANNER + RESPONSIVE NAVIGATION * * * */
	.responsive-announcement-banner, nav.responsive-nav{
		display: none;
	}

	.announcement-banner{
		display: block;
	}

	/* * * * NAVIGATION STYLES * * * */
	header {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-around;
	}

	nav.social-nav, nav.main-menu{
		width: 40%;
	}

	.logo-block{
		width: 20%;
	}

	a.logo-image{
		width: 80%;
	}

	nav.social-nav ul{
		justify-content: flex-end;
	}

	nav.main-menu{
		display: block;
	}

	nav.social-nav ul li.patreon {
		display: inline-block;
	}

	input.responsive-nav-button, label.responsive-nav-button, .responsive-nav-button, nav.responsive-nav, header .responsive-cart{
		display: none;
	}

	h2 {
		@include fontSize(4rem);
		line-height: 4rem;
	}

	/* * * * MAIN * * * */
	section.intro{
		@include flexbox($direction: row);
	}

	//LEFT
	.title-block{
		width: 60%;	
	}

	//RIGHT
	.main-image{
		width: 40%;
	}

	/* * * * FEATURED SECTION * * * */
	.inner-featured-section {
		background: url(./../assets/bannersPNG/Transparent-Patterns-full.png);
		width: 980px;
		height: 280px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.featured-section-left, .featured-section-right {
		width: 48%;
		height: 280px;
	}

	.featured-sections-homepage{
		@include flexbox($placeContent: space-between);
	}

	/* * * * REVIEWS * * * */
	.review-cards figure{
		width: 30%;
	}

	.review-cards .review-words{
		width: 65%;
	}

	.review-cards .review-words{
		width: 100%;
		font-size: 2rem;
		line-height: 3rem;
	}

	.review-cards .review .inner-review{
		@include flexbox($placeItems: center, $placeContent: center, $direction: row);
		width: 100%;
		height: 425px;
	}

	/* * * * SECTIONS * * * */
	.news-block{
		@include flexbox($placeItems: flex-start, $placeContent: space-between, $direction: row, $wrap: wrap);
	}

	.twitter, .blog-intro{
		width: 50%;
	}

	/* * * * ABOUT * * * */
	.about figure{
		width: 300px;
		float: right;
		margin: 15px;
	}

	/* * * * PORTFOLIO * * * */
	.gallery figure.image-frame{
		width: 21%;
	}

	.gallery figure.image-frame figcaption p, .gallery figure.image-frame figcaption a{
		font-size: 2rem;
	}

	.portfolio-section, .portfolio-section .inner-portfolio-section{
		height: 200px;
		width: 350px;
	}

	/* * * * CHECKOUT * * * */
	.responsive-checkout{
		display: none;
	}

	.desktop-checkout{
		display: block;
	}

	td.info{
		width: 50%;
	}

	// IMAGE TITLE
	td.image-title{
		text-align: left;
	}

	td.image-title img{
		 width: 200px;
    	height: auto;
	}

	p.cart-title {
		padding: 10px; 
	}

	// QTY
	.quantity-box input{
		width: 30%;
	}

	.qty .button-box{
		padding: 1em;
    }

	// SUBTOTAL
	.subtotal-block .options{
		width: 30%;
	}

	//CONTACT
	form.contact-form label{
		display: inline-block;
	}

	form.contact-form textarea{
		width: 70%;
	}

}
// DID THIS BECAUSE I MESSED SOMETHING UP AND I GOTTA GO BACK AND FIGURE IT OUT
@media only screen and (min-width: 600px) and (max-width: 900px){
	//RIGHT
	.main-image{
		width: 60%;
	}

	.gallery figure.image-frame{
		width: 42%;
	}

	.featured-section-left, .featured-section-right {
		width: 100%;
	}

}

@media only screen and (min-width: 750px){
	/* * * * SECTIONS * * * */
	.display-item-1, .display-item-2 {
		@include flexbox($direction: row);
	}

	.display-item-2 {
		@include flexbox($direction: row-reverse);
	}

	.display-item-1 .words, .display-item-2 .words{
		width: 60%;
	}

	.display-item-1 .image, .display-item-2 .image{
		width: 40%;
	}

	/* * * * CONTACT * * * */
	.contact-page{
		flex-direction: row;
	}

	.contact-left, .contact-right{
		width: 50%;
	}

	.contact-input-box{
		margin-top: 0;
	}

	form.contact-form textarea{
		width: 100%;
	}

	form.contact-form input{
		width: 100%;
	}

	form.contact-form .button-box{
		padding-left: 0;
	}
	
	.contact-form .button-box{
		justify-content: flex-end;
	}

	form.contact-form label{
		display: block;
	}

	/* * * * PORTFOLIO * * * */
	section.portfolio{
		@include flexbox($placeItems: center, $placeContent: space-around, $direction: row, $wrap: wrap);
	}

	section.portfolio .portfolio-section{
		width: 48%;
		
	}

	.inner-portfolio-section{
		height: 155px;
		width: 270px;
	}

}

@media only screen and (min-width: 600px){
	body{
		background: linear-gradient(0deg, rgba(247,154,170,0.5) 0%,$primary 65%, rgba(254,223,21,0.5) 100%);
		font-size: 2rem;
	}

	/* * * * MAIN * * * */
	main{
		width: 95%;
		margin: 0 auto;
	}

	// /* * * * INTRO * * * */
	.title-block,
	.main-image{
		padding: 15px;
	}

	// LEFT
	.image-block {
		width: 100%;
		flex-direction: row;
	}

	.image-block img {
		max-width: 150px;
	}

	//RIGHT
	.product-images-block img {
		max-width: 150px;
		height: 150px;
	}

	.product{
		flex-direction: row;
		align-items: flex-start;
	}

	form select.product-select{
		width: 375px;
	}

	/* * * * ABOUT * * * */
	.about{
		width: 85%;
	}

	.gallery{
		@include flexbox($direction: row, $wrap: wrap);
	}

	.gallery figure.image-frame figcaption{
		padding-top: 40px;
	}

	.image-right, .words-left{
		width: 50%;
	}

	form.contact-form label{
		width: 20%;
		display: inline-block;
	}

	form.contact-form input{
		width: 70%;
	}

	/* * * * FOOTER * * * */
	footer {
		@include flexbox($direction: row);
	}

	.social-footer, .copyright {
		width: 50%;
	}

}
