section.reviews{
    margin: 1em 0;
    width: 100%;
    background-image: url(./../assets/backgrounds/Banner-bg.jpg);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    padding: 1em;
}

section.reviews h2{
    text-align: center;
    margin: .5em;
    padding: 0;
}

.review-container{
    @include flexbox($placeItems: center, $placeContent: center, $direction: column, $wrap: wrap);
}

.photo-dots{
    @include flexbox($placeItems: center, $placeContent: center, $direction: column);
    width: 85%;
    padding: 15px;
    background: #FFF;
    border: 2px solid $secondary;
    border-radius: 15px;
}

.photo-dots p{
    padding: 0;
    margin: 0;
}

.photo-dots .dots-container{
    padding: 5px;
}

.photo-dots .dots-container span{
    color: $secondary;
    margin: 0 15px;
    text-shadow: 1px 1px 2px $black;
}

.photo-dots .dots-container span:hover, .photo-dots .dots-container span:active{
    color: $black;
}

.review-cards{
    width: 85%;
    margin: .5em;
    background: #FFF;
    border-radius: 15px;
    border: 2px solid $secondary;
}

.review-cards figure{
    width: 60%;
    margin: 0;
    padding: 15px;
}

.review-cards .review-words{
    width: 95%;
    padding: .5em;
    font-size: 1.6rem;
	line-height: 2.5rem;
}

.review-cards .review-words span{
    padding: 0 15px;
}

.review-cards .review .inner-review{
    @include flexbox($placeItems: center, $placeContent: center, $direction: column-reverse);
    width: 100%;
}

.review .featured-item{
    width: 100%;
}

.review-cards .second-item, .review-cards .third-item, .featured-image .second-item, .featured-image .third-item{
    display: none;
}

.review-cards .unselected, .second-item, .third-item{
	display: none;
}

.photo-credit{
	font-size: 1.5rem;
	line-height: 2rem;
	font-style: italic;
	color: $black;
	text-align: center;
}

.photo-credit a{
	text-shadow: 1px 1px 1px $secondary;
	border-bottom: 2px solid transparent;
}

.photo-credit a:hover, 
.photo-credit a:active{
	border-bottom: 2px solid $secondary;
}

/* * * * IMAGE SWITCHEROO * * * */

.product .featured-image{
    position: relative;
    width: 300px;
    height: 300px;
}

.product .featured-item, .product .second-item, .product .third-item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}