// * * * * COLOURS
$primary: #fedf15;
$secondary: #f79aaa;
$accent: #F6A241;
$black: #0C0A0A;

// * * * * FONTS
$fontSize: 2rem;
$lineHeight: 2rem;
$bodyFont: 'Nunito', sans-serif;
$headingFont: 'Chicle', cursive;

// font-family: 'Bangers', cursive;
// font-family: 'Chicle', cursive;
// font-family: 'Francois One', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Nunito', sans-serif;
