/**
* FLEXBOX
* A mixin to rule complex flexbox layout
* @author nicolacastellanidev@gmail.com
*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
}

a, input {
  font-family: 'Nunito', sans-serif;
  color: #0C0A0A;
  text-decoration: none;
}

input:focus-within, select:focus-within, textarea:focus-within {
  background: #F6A241;
  outline: none;
  border: 2px solid #000;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

/* * * * PINK BORDER INPUT * * * */
.pink-border {
  padding: 5px 15px;
  border: 2px solid #f79aaa;
  border-radius: 10px;
}

/* * * * SHADOW COMBO TO KEEP * * * */
.announcement-banner, .responsive-announcement-banner {
  color: #FFF;
  background: #f79aaa;
  padding: 10px 15px;
  margin: 0;
  overflow: hidden;
}

.announcement-banner {
  display: none;
}

.responsive-announcement-banner {
  margin: 1em;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: space-between;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

/* * * * * * * * * * * * * * HEADER BLOCKS * * * * * * * * * * * * * * */
/* * * * DON'T FORGET IT'S MOBILE FIRST SIZING * * * */
nav.main-menu, nav.social-nav, nav.social-nav ul {
  width: 100%;
}

.logo-block {
  width: 80%;
}

/* * * * RESPONSIVE NAV * * * */
nav.responsive-nav, input.responsive-nav-button {
  display: none;
}

header .responsive-cart {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

header .responsive-cart a {
  font-family: 'Chicle', cursive;
  color: #000;
  text-decoration: none;
  border-bottom: 5px solid transparent;
}

header .responsive-cart a img {
  height: 45px;
}

header .responsive-cart a:hover, header .responsive-cart a:active {
  border-bottom: 5px solid #f79aaa;
}

/* * * * THE SANDWICH NAVIGATION * * * */
label.responsive-nav-button, .responsive-nav-button {
  display: block;
}

.responsive-nav-button {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  margin: 0;
  padding: 25px 25px;
  background: transparent;
  border: none;
}

.responsive-nav-button:hover, .responsive-nav-button:active, nav.responsive-nav ul li:hover, nav.responsive-nav ul li:active, nav.responsive-nav ul li a:hover, nav.responsive-nav ul li a:active {
  text-shadow: 2px 2px 5px #f79aaa;
  color: #000;
}

nav.responsive-nav ul li:hover, nav.responsive-nav ul li:active {
  background: #FFF;
  border: solid 2px #f79aaa;
}

nav.responsive-nav {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 15%;
  left: 15%;
  width: 70%;
  margin-top: 70px;
}

nav.responsive-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Chicle', cursive;
  background: #f79aaa;
}

nav.responsive-nav ul li {
  padding: 1em;
  text-align: center;
  border: solid 2px transparent;
}

nav.responsive-nav ul li a {
  color: #0C0A0A;
  text-decoration: none;
}

nav.responsive-nav ul li a:hover, nav.responsive-nav ul li a:active {
  text-decoration: none;
}

/* * * * * * * * * * * * * * STYLING FOR DESKTOP NAV * * * * * * * * * * * * * * */
/* * * * MAIN MENU * * * */
nav.main-menu, nav.main-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

nav.main-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.main-menu a {
  font-family: 'Chicle', cursive;
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid transparent;
}

nav.main-menu a:hover {
  text-shadow: 1px 1px 1px #F6A241;
  background: linear-gradient(313deg, #fedf15 0%, #f79aaa 71%);
  border: 2px solid #f79aaa;
}

/* * * * LOGO * * * */
.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

h1.logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: transparent;
  font-size: 4rem;
}

a.logo-image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

header h1 {
  margin: 0;
  border-bottom: 5px solid transparent;
}

header h1:hover, header h1:active {
  border-bottom: 5px solid #f79aaa;
}

/* * * * RESPONSIVE NAVIGATION * * * */
.responsive-nav-button:hover, .responsive-nav-button:active, nav.responsive-nav ul li a:hover, nav.responsive-nav ul li a:active {
  text-shadow: 2px 2px 5px #f79aaa;
  color: #000;
}

nav.responsive-nav ul li:hover, nav.responsive-nav ul li:active {
  background: #fedf15;
  background: linear-gradient(313deg, #fedf15 0%, #f79aaa 71%);
  -webkit-box-shadow: 1px 1px 2px #0C0A0A;
          box-shadow: 1px 1px 2px #0C0A0A;
  border: solid 2px #fedf15;
  -webkit-transition: background 500ms linear;
  transition: background 500ms linear;
}

nav.responsive-nav {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 15%;
  left: 15%;
  width: 70%;
  margin-top: 70px;
}

nav.responsive-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Chicle', cursive;
  background: #f79aaa;
  -webkit-box-shadow: -2px -2px #fedf15, 2px 2px #fedf15;
          box-shadow: -2px -2px #fedf15, 2px 2px #fedf15;
}

nav.responsive-nav ul li {
  padding: 1em;
  text-align: center;
  border: solid 2px transparent;
}

nav.responsive-nav ul li a {
  color: #000;
  text-decoration: none;
}

nav.responsive-nav ul li a:hover, nav.responsive-nav ul li a:active {
  text-shadow: 2px 2px 5px #f79aaa;
  text-decoration: none;
  -webkit-transition: background 500ms linear;
  transition: background 500ms linear;
}

/* * * * SOCIAL NAVIGATION * * * */
nav.social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

nav.social-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

nav.social-nav ul li {
  width: 40px;
  height: 40px;
  margin: 10px;
  background: linear-gradient(313deg, #fedf15 0%, #f79aaa 71%);
  border-radius: 50%;
}

nav.social-nav ul li a {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-radius: 50%;
  border: solid 2px transparent;
}

nav.social-nav ul li a img {
  height: 20px;
}

nav.social-nav ul li a:hover,
nav.social-nav ul li a:active {
  background: #fff;
  border: solid 2px #f79aaa;
  -webkit-box-shadow: 1px 1px 2px #0C0A0A;
          box-shadow: 1px 1px 2px #0C0A0A;
  -webkit-transition: background 500ms linear;
  transition: background 500ms linear;
}

nav.social-nav ul li.patreon {
  display: block;
  width: auto;
  height: auto;
  border-radius: 0%;
  background: 0;
}

nav.social-nav ul li.patreon a {
  height: 60px;
  border: solid 5px transparent;
}

nav.social-nav ul li.patreon a img {
  height: 50px;
}

nav.social-nav li.patreon a:hover, nav.social-nav li.patreon a:active {
  border: 5px solid black;
  border-radius: 0%;
  -webkit-box-shadow: 1px 1px 2px #0C0A0A;
          box-shadow: 1px 1px 2px #0C0A0A;
}

nav.main-menu {
  display: none;
}

h1, h2 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6.75rem;
  font-family: "Chicle", cursive;
  line-height: 4.5rem;
  margin: 0;
  padding: 20px 0;
  text-shadow: 1px 1px 1px #f79aaa;
}

main {
  width: 100%;
}

.writing {
  text-align: center;
  margin: 30px 0;
}

h3 {
  font-family: "Chicle", cursive;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.5rem;
  line-height: 3rem;
  margin-bottom: 0;
}

.writing .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.writing .links a {
  width: 150px;
  padding: 15px;
}

/* * * * * * * * * * * * * * HOMEPAGE SECTIONS * * * * * * * * * * * * * * */
/* * * * INTRO * * * */
section.intro {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.title-block, .main-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.title-block {
  margin-bottom: 20px;
}

.title-block h1 {
  font-family: "Chicle", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6.75rem;
  line-height: 4.5rem;
  margin: 0;
  padding: 20px;
  text-shadow: 1px 1px 1px #f79aaa;
}

.title-block p {
  padding: 5px 0 20px 0;
  margin: 0;
}

.image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 70%;
  margin-bottom: 1em;
}

.image-block img {
  margin: 5px;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  border-radius: 5px;
}

.main-photo {
  width: 60%;
  border-radius: 15px;
  border: solid 1px #f79aaa;
  -webkit-box-shadow: 0px 0px 15px #f79aaa;
          box-shadow: 0px 0px 15px #f79aaa;
  margin: 15px 0;
}

/* * * * BUTTON STYLES * * * */
.button-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

button.frizz-button, .frizz-button, a.learn-more-link {
  font-family: 'Chicle', cursive;
  min-height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  background: linear-gradient(313deg, #fedf15 0%, #f79aaa 71%);
  border: 2px solid #f79aaa;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  text-shadow: 1px 1px 1px #f79aaa;
}

button.frizz-button:hover, button.frizz-button:active, .frizz-button:hover, .frizz-button:active, a.learn-more-link:hover, a.learn-more-link:active {
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px #0C0A0A;
          box-shadow: 1px 1px 2px #0C0A0A;
  border: 2px solid #0C0A0A;
  -webkit-transition: background 500ms linear;
  transition: background 500ms linear;
}

/* * * * SECTIONS * * * */
section.books {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.display-item-1, .display-item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.display-item-1 .words, .display-item-2 .words {
  width: 100%;
  padding: 1em;
}

.display-item-1 .image, .display-item-2 .image {
  width: 100%;
}

/* * * * NEWS * * * */
.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.twitter, .blog-intro {
  width: 100%;
}

.blog-intro .blog {
  width: 100%;
  padding: 0 10px;
  margin: 1em 0;
}

.blog-intro .blog:first-child {
  padding-top: 0;
  margin-top: 0;
}

.blog-intro .blog img {
  float: left;
  max-width: 150px;
  margin: 5px;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  border-radius: 5px;
}

.blog-intro .blog h2 {
  margin: 0;
  padding: 0;
}

/* * * * * * * * CART PAGE * * * * * * * */
section.cart {
  padding: .5em;
}

.responsive-checkout {
  display: block;
}

.desktop-checkout {
  display: none;
}

form.desktop-checkout {
  padding-bottom: 1em;
}

table {
  text-align: left;
  border-collapse: collapse;
  border-style: none;
}

table p {
  padding: 15px;
  margin: 0;
}

table td {
  border: 2px solid #f79aaa;
  height: 250px;
}

thead tr th {
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
}

th.price, th.qty, th.total {
  width: 200px;
}

td.price, td.qty, td.total {
  vertical-align: bottom;
}

td.image-title, td.info {
  width: 50%;
  height: auto;
}

td.image-title {
  text-align: center;
}

td.image-title img {
  height: 180px;
  padding: 10px;
  height: auto;
}

p.cart-title {
  padding: 10px 10px 10px 0;
  text-shadow: 1px 1px #f79aaa;
}

.info p {
  text-align: center;
}

.quantity-box {
  text-align: center;
}

.quantity-box input {
  width: 75%;
  margin: 5px;
}

.qty .button-box {
  padding: 0;
}

a.remove {
  min-height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  text-shadow: 1px 1px 1px #f79aaa;
  cursor: pointer;
  background: #FFF;
  -webkit-box-shadow: 1px 1px 2px #0C0A0A;
          box-shadow: 1px 1px 2px #0C0A0A;
  border: 2px solid #f79aaa;
}

a.remove:hover, a.remove:active {
  border: 2px solid #0C0A0A;
}

/* * * * SUBTOTAL * * * */
.subtotal-block {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.subtotal-block .options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.subtotal-block .options p.subtotal {
  width: 100%;
  font-family: 'Chicle', cursive;
  font-size: 2.5rem;
}

footer {
  background: #f79aaa;
  -webkit-box-shadow: -1px -1px 10px black;
          box-shadow: -1px -1px 10px black;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: space-between;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.social-footer, .copyright {
  width: 100%;
}

.social-footer nav.social-nav {
  width: 100%;
}

.social-footer nav.social-nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-footer nav.social-nav ul li a {
  border: solid 2px #0C0A0A;
}

.social-footer nav.social-nav ul li a:hover, .social-footer nav.social-nav ul li a:active {
  border: solid 2px #0C0A0A;
}

.social-footer nav.social-nav ul li.patreon a {
  border: solid 2px transparent;
  height: 54px;
}

.social-footer nav.social-nav ul li.patreon a:hover {
  border: solid 2px #0C0A0A;
}

footer p {
  text-align: center;
  padding: 10px;
  margin: 0;
}

p.website-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

p.website-by a {
  text-decoration: none;
  color: black;
  padding: 0 5px;
}

p.website-by a img {
  width: 40px;
  border: 2px solid #0C0A0A;
}

p.website-by a img:hover,
p.website-by a img:active {
  -webkit-box-shadow: 1px 1px 5px #0C0A0A;
          box-shadow: 1px 1px 5px #0C0A0A;
  border: 2px solid #f79aaa;
}

@media only screen and (min-width: 900px) {
  /* * * * BASE STYLES * * * */
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  /* * * * ANNOUNCEMENT BANNER + RESPONSIVE NAVIGATION * * * */
  .responsive-announcement-banner, nav.responsive-nav {
    display: none;
  }
  .announcement-banner {
    display: block;
  }
  /* * * * NAVIGATION STYLES * * * */
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav.social-nav, nav.main-menu {
    width: 40%;
  }
  .logo-block {
    width: 20%;
  }
  a.logo-image {
    width: 80%;
  }
  nav.social-nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav.main-menu {
    display: block;
  }
  nav.social-nav ul li.patreon {
    display: inline-block;
  }
  input.responsive-nav-button, label.responsive-nav-button, .responsive-nav-button, nav.responsive-nav, header .responsive-cart {
    display: none;
  }
  h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 6rem;
    line-height: 4rem;
  }
  /* * * * MAIN * * * */
  section.intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    place-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .title-block {
    width: 60%;
  }
  .main-image {
    width: 40%;
  }
  /* * * * CHECKOUT * * * */
  .responsive-checkout {
    display: none;
  }
  .desktop-checkout {
    display: block;
  }
  td.info {
    width: 50%;
  }
  td.image-title {
    text-align: left;
  }
  td.image-title img {
    height: 180px;
  }
  p.cart-title {
    padding: 10px;
  }
  .quantity-box input {
    width: 30%;
  }
  .qty .button-box {
    padding: 1em;
  }
  .subtotal-block .options {
    width: 30%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .main-image {
    width: 60%;
  }
}

@media only screen and (min-width: 750px) {
  /* * * * SECTIONS * * * */
  .display-item-1, .display-item-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .display-item-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .display-item-1 .words, .display-item-2 .words {
    width: 60%;
  }
  .display-item-1 .image, .display-item-2 .image {
    width: 40%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 154, 170, 0.5)), color-stop(65%, #fedf15), to(rgba(254, 223, 21, 0.5)));
    background: linear-gradient(0deg, rgba(247, 154, 170, 0.5) 0%, #fedf15 65%, rgba(254, 223, 21, 0.5) 100%);
  }
  /* * * * MAIN * * * */
  main {
    width: 95%;
    margin: 0 auto;
  }
  .title-block,
  .main-image {
    padding: 15px;
  }
  .image-block {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .image-block img {
    max-width: 150px;
  }
  img.main-photo {
    width: 100%;
  }
  /* * * * SECTIONS * * * */
  .news-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    place-content: space-between;
    place-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .twitter, .blog-intro {
    width: 50%;
  }
  /* * * * FOOTER * * * */
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .social-footer, .copyright {
    width: 50%;
  }
}
