/**
* FLEXBOX
* A mixin to rule complex flexbox layout
* @author nicolacastellanidev@gmail.com
*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  background-color: #fedf15;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

.announcement-banner, .responsive-announcement-banner {
  color: #FFF;
  background: #f79aaa;
  padding: 10px 15px;
  margin: 0;
  overflow: hidden;
}

.announcement-banner {
  display: none;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: space-between;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

/* * * * * * * * * * * * * * HEADER BLOCKS * * * * * * * * * * * * * * */
/* * * * DON'T FORGET IT'S MOBILE FIRST SIZING * * * */
nav.main-menu, nav.social-nav, nav.social-nav ul {
  width: 100%;
}

.logo-block {
  width: 80%;
}

/* * * * RESPONSIVE NAV * * * */
nav.responsive-nav, input.responsive-nav-button {
  display: none;
}

header .responsive-cart {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

header .responsive-cart a {
  font-family: 'Chicle', cursive;
  color: #000;
  text-decoration: none;
  border-bottom: 5px solid transparent;
}

header .responsive-cart a:hover, header .responsive-cart a:active {
  border-bottom: 5px solid #f79aaa;
}

/* * * * THE SANDWICH * * * */
label.responsive-nav-button, .responsive-nav-button {
  display: block;
}

.responsive-nav-button {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  margin: 0;
  padding: 25px 25px;
  background: transparent;
  border: none;
}

.responsive-nav-button:hover, .responsive-nav-button:active, nav.responsive-nav ul li a:hover, nav.responsive-nav ul li a:active {
  text-shadow: 2px 2px 5px #f79aaa;
  color: #000;
}

nav.responsive-nav ul li:hover, nav.responsive-nav ul li:active {
  background: #fedf15;
  background: linear-gradient(313deg, #fedf15 0%, #f79aaa 71%);
  -webkit-box-shadow: 1px 1px 25px #e891f0, -1px -1px 25px #f79aaa;
          box-shadow: 1px 1px 25px #e891f0, -1px -1px 25px #f79aaa;
  border: solid 2px #fedf15;
}

nav.responsive-nav {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 15%;
  left: 15%;
  width: 70%;
  margin-top: 70px;
}

nav.responsive-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Chicle', cursive;
  background: #f79aaa;
  -webkit-box-shadow: -2px -2px #fedf15, 2px 2px #fedf15;
          box-shadow: -2px -2px #fedf15, 2px 2px #fedf15;
}

nav.responsive-nav ul li {
  padding: 1em;
  text-align: center;
  border: solid 2px transparent;
}

nav.responsive-nav ul li a {
  color: #000;
  text-decoration: none;
}

nav.responsive-nav ul li a:hover, nav.responsive-nav ul li a:active {
  text-shadow: 2px 2px 5px #fedf15;
  text-decoration: none;
}

/* * * * * * * * * * * * * * STYLING FOR DESKTOP NAV * * * * * * * * * * * * * * */
/* * * * MAIN MENU * * * */
nav.main-menu, nav.main-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

nav.main-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.main-menu a {
  font-family: 'Chicle', cursive;
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid transparent;
}

nav.main-menu a:hover {
  text-shadow: 1px 1px 1px #F6A241;
  background: linear-gradient(313deg, #fedf15 0%, #f79aaa 71%);
  border: 2px solid #000;
  -webkit-box-shadow: 1px 1px 25px #fedf15, -1px -1px 25px #f79aaa;
          box-shadow: 1px 1px 25px #fedf15, -1px -1px 25px #f79aaa;
}

/* * * * LOGO * * * */
.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

h1.logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: transparent;
  font-size: 4rem;
}

header h1 {
  margin: 0;
  border-bottom: 5px solid transparent;
}

header h1:hover, header h1:active {
  border-bottom: 5px solid #f79aaa;
}

/* * * * SOCIAL NAV * * * */
nav.social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

nav.social-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

nav.social-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 50px;
  height: 50px;
  border: solid 2px transparent;
}

nav.social-nav ul li a,
nav.social-nav ul li a,
nav.social-nav ul li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: white;
}

nav.social-nav ul li.instagram-svg a {
  background: url(../assets/svg/instagram-black.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 40%;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

nav.social-nav ul li.twitter-svg a {
  background: url(../assets/svg/twitter-black.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 40%;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

nav.social-nav ul li.facebook-svg a {
  background: url(../assets/svg/facebook-black.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 40%;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

nav.social-nav ul li.tiktok-svg a {
  background: url(../assets/svg/tiktok-black.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 40%;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

nav.social-nav ul li.redbubble-svg a {
  background: url(../assets/svg/redbubble_logo-black.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 40%;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

nav.social-nav ul .patreon-svg {
  display: block;
  margin: 20px;
  width: 200px;
  height: 50px;
  background-image: url(../assets/logos/patreon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: solid 2px transparent;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  cursor: pointer;
}

nav.social-nav ul li.instagram-svg:hover,
nav.social-nav ul li.facebook-svg:hover,
nav.social-nav ul li.twitter-svg:hover,
nav.social-nav ul li.tiktok-svg:hover,
nav.social-nav ul li.redbubble-svg:hover,
nav.social-nav ul li.instagram-svg:active,
nav.social-nav ul li.facebook-svg:active,
nav.social-nav ul li.twitter-svg:active,
nav.social-nav ul li.tiktok-svg:active,
nav.social-nav ul li.redbubble-svg:active {
  border: solid 2px #0C0A0A;
  -webkit-box-shadow: 1px 1px 25px #f79aaa, -1px -1px 25px #f79aaa;
          box-shadow: 1px 1px 25px #f79aaa, -1px -1px 25px #f79aaa;
  background: linear-gradient(313deg, #fedf15 0%, #f79aaa 71%);
  border-radius: 50%;
}

nav.social-nav ul li.patreon-svg:hover, nav.social-nav ul li.patreon-svg:active {
  -webkit-box-shadow: 1px 1px 25px #f79aaa, -1px -1px 25px #f79aaa;
          box-shadow: 1px 1px 25px #f79aaa, -1px -1px 25px #f79aaa;
  border: solid 2px #f79aaa;
}

nav.main-menu {
  display: none;
}

/* * * * HERO * * * */
section.intro {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.title-block {
  width: 100%;
  margin-bottom: 60px;
}

.title-block p {
  padding: 15px 0;
  margin: 0;
}

.title-block h1 {
  font-family: "Chicle", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6.75rem;
  line-height: 4.5rem;
  margin: 0;
  padding: 35px;
}

.hero-photo {
  border-radius: 15px;
  border: solid 1px #f79aaa;
  -webkit-box-shadow: 0px 0px 15px #fedf15;
          box-shadow: 0px 0px 15px #fedf15;
  margin: 15px 0;
}

a.book-button {
  background: #f79aaa;
  padding: 15px;
  border-radius: 5px;
  border: solid 2px #fedf15;
  -webkit-box-shadow: 1px 1px 10px #fedf15;
          box-shadow: 1px 1px 10px #fedf15;
  text-decoration: none;
  color: #000;
  font-family: "Chicle", cursive;
  -webkit-transition: border 1s ease-in;
  transition: border 1s ease-in;
}

a.book-button:hover {
  background: #fedf15;
  border: solid 2px #000;
  -webkit-box-shadow: 1px 1px 10px #f79aaa;
          box-shadow: 1px 1px 10px #f79aaa;
  font-style: italic;
}

.image-block {
  margin: 30px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: space-around;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.image-block img {
  margin: 5px;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  border-radius: 5px;
}

h2 {
  font-family: "Chicle", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6.75rem;
  line-height: 4.5rem;
  margin-top: 0;
}

main {
  width: 100%;
}

.book-promo {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.promo {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 60px;
}

.promo p {
  margin-bottom: 60px;
}

.book-promo img {
  border-radius: 15px;
  border: solid 1px #f79aaa;
  -webkit-box-shadow: 0px 0px 15px #fedf15;
          box-shadow: 0px 0px 15px #fedf15;
}

.second {
  margin-top: 15px;
}

.writing {
  text-align: center;
  margin: 30px 0;
}

h3 {
  font-family: "Chicle", cursive;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.5rem;
  line-height: 3rem;
  margin-bottom: 0;
}

.writing .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.writing .links a {
  width: 150px;
  padding: 15px;
}

footer {
  background: #f79aaa;
  -webkit-box-shadow: -1px -1px 10px black;
          box-shadow: -1px -1px 10px black;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: space-between;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.social-nav-footer {
  width: 350px;
}

.social-nav-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.social-nav-footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.social-nav-footer ul li a.instagram img,
.social-nav-footer ul li a.twitter img,
.social-nav-footer ul li a.redbubble img {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 0;
}

.social-nav-footer ul li.instagram,
.social-nav-footer ul li.twitter,
.social-nav-footer ul li.redbubble {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  margin: 5px;
  border: solid 1px transparent;
}

.social-nav-footer ul li.instagram:hover,
.social-nav-footer ul li.twitter:hover,
.social-nav-footer ul li.redbubble:hover {
  background: #f79aaa;
  border: solid 1px black;
  -webkit-box-shadow: 0px 0px 15px black;
          box-shadow: 0px 0px 15px black;
}

.social-nav-footer ul li.patreon {
  margin: 5px;
}

.social-nav-footer li a.patreon {
  border: solid 2px transparent;
  height: 37px;
}

.social-nav-footer li a.patreon img {
  height: 33px;
}

.social-nav-footer li a.patreon:hover {
  -webkit-box-shadow: 3px 3px 6px black;
          box-shadow: 3px 3px 6px black;
  border: solid 2px #000;
}

footer p {
  text-align: center;
  font-family: "Chicle", cursive;
  font-size: 2.5rem;
  padding: 10px;
  margin: 0;
}

.website-by p {
  text-transform: uppercase;
  font-size: 2rem;
}

.website-by a {
  text-decoration: none;
  color: black;
}

.website-by a:hover,
.website-by a:active {
  text-shadow: 1px 1px 1px white;
}

@media only screen and (min-width: 900px) {
  /* * * * BASE STYLES * * * */
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  /* * * * ANNOUNCEMENT BANNER + RESPONSIVE NAVIGATION * * * */
  .responsive-announcement-banner, nav.responsive-nav {
    display: none;
  }
  button.responsive-nav-button, header .responsive-cart {
    top: -200px;
  }
  .announcement-banner {
    display: block;
  }
  /* * * * NAVIGATION STYLES * * * */
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav.social-nav, nav.main-menu {
    width: 40%;
  }
  .logo-block {
    width: 20%;
  }
  nav.main-menu {
    display: block;
  }
  nav.social-nav ul li.patreon {
    display: inline-block;
  }
  input.responsive-nav-button, label.responsive-nav-button, .responsive-nav-button, nav.responsive-nav, header .responsive-cart {
    display: none;
  }
  h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 6rem;
    line-height: 4rem;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 154, 170, 0.5)), color-stop(65%, #fedf15), to(rgba(254, 223, 21, 0.5)));
    background: linear-gradient(0deg, rgba(247, 154, 170, 0.5) 0%, #fedf15 65%, rgba(254, 223, 21, 0.5) 100%);
  }
  /* * * * sort through this * * * */
  .hero,
  .book-promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .book-promo {
    margin: 15px 0;
  }
  .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .title-block h1 {
    padding: 0px;
  }
  .title-block,
  .hero-photo,
  .promo,
  img.book-photo {
    width: 50%;
    margin: 15px;
  }
  .image-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .image-block img {
    max-width: 150px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
